/*

!CMakeLists.txt

!src
src/*
!src/CMakeLists.txt
!src/clipp
src/clipp/*
!src/clipp/cmd_parsers.hpp
!src/clipp/command.hpp
!src/clipp/option.hpp
!src/clipp/options_set.hpp
!src/clipp/parsers.hpp

!example
example/*
!example/CMakeLists.txt
!example/rs
example/rs/*
!example/rs/CMakeLists.txt
!example/rs/main.cpp

!.clang-format

!README.md

!.gitignore
